.image-container{
  background: url('https://source.unsplash.com/K785Da4A_JA/450x708'); 
  height: 100%;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  .exit{
    background: rgba(255, 255, 255, 0.85);
    width: 46px;
    height: 46px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    margin: 20px;
    cursor: pointer;
    .lni{
      color:#202842;
    }
  }
}